/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#social-list > li {
    list-style: none;
    padding: .5em;
}

#social-well {
    background-image: -webkit-linear-gradient(top, #FCF8E3 0, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #FCF8E3 0, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FCF8E3), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #FCF8E3 0, #f5f5f5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    border-color: #dcdcdc;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1)
}

.jumbotron {
    background: #0A3A27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0A3A27, #6EBF8C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, #0A3A27, #6EBF8C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: center;
}

.navbar {
    margin-bottom: 0px;
}

.mobileNavWrapper ul.nav li a {
    border-bottom: 1px solid #E3B77B;
    width: 100%;
    float: left;
    display: block;
    color: #FFF;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
    background: #DCA459;
}

.mobileNavWrapper ul.nav li a:hover {
    color: #FFF;
    background: #E3B77B;
}


/* ----------------- Mobile Navigations ----------------- */

.mobileNavWrapper {
    width: 250px;
    height: 100%;
    min-height: 100%;
    position: fixed;
    right: -250px;
    top: 0;
    overflow-x: hidden;
    z-index: 16;
    background: #DCA459;
}

.mobileNavWrapper,
.header,
.footer {
    transition: all .30s ease;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mobileNavWrapper.showNav,
.wrapper.showNav,
.header.showNav,
.footer.showNav {
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
}

.wrapper {
    transition: all 0.3s ease 0s;
}

.menuWrapper {
    float: right;
}

#menubuttonsvg,
#forwardsvg,
#backsvg {
    cursor: pointer;
    float: right;
    padding: 0;
    transition: all 0.3s ease 0s;
}

#menubuttonsvg {
    padding: 4px 0 5px 10px;
    display: inline-block;
}

#forwardsvg,
#backsvg {
    padding: 4px 10px 5px;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}

#backsvg {
    border-right: none;
}

#menubuttonsvg:hover,
#forwardsvg:hover,
#backsvg:hover {
    background: #DEA653;
}


/*#mobileMenuButton:hover path {
    fill: #D8A55C;
}*/

#pagename {
    position: absolute;
    left: ;
    width: ;
    ;
}

.logoLink,
.mainNav {
    display: inline-block;
}

@media all and (max-width: 900px) {
    .mobileNavWrapper,
    #menubuttonsvg,
    #forwardsvg,
    #backsvg {
        display: inline-block;
    }
}

#menubuttonsvg,
#forwardsvg,
#backsvg {
    cursor: pointer;
    float: right;
    padding: 0;
    transition: all 0.3s ease 0s;
}

#menubuttonsvg {
    padding: 4px 0 5px 10px;
}
