<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Scott's Stuff</h2>
        <p>Hi. Let's build something together!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-6 col-md-6">
        <a target="_blank" href="https://www.linkedin.com/pub/scott-kamps-duac/40/a29/8a7">
                <img src="img/linkedin.png" height="15" alt="In">
              </a>
        <a target="_blank" href="https://github.com/kamps-duac"><img src="img/GitHub-Mark-Light-64px.png" alt="" height="20px" /></a>
        <a target="_blank" href="https://twitter.com/kampsduac"> <img src="img/TwitterLogo_55acee.png" alt="Twitter " height="20px" /></a>
      </div>
    </div>
  </div>
</div>
