<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Blog Sites</h3>
      <h4><a target="_blank" href="https://freeasincode.wordpress.com/">FreeAsInCode</a> <small>Coding Blog</small></h4>
      <h4><a target="_blank" href="https://freeasinguac.wordpress.com/">FreeAsInGuac</a> <small>Study Notes</small></h4>
      <h4><a target="_blank" href="https://scottkampsduac.wordpress.com/">The Long Way Home</a> <small>Personal Blog</small></h4>
    </div>
  </div>
</div>
