<div ng-controller="BookCtrl" class="row marketing text-center">
  <h2 id="books" class="text-left">Books</h2>
  <div class="text-center" ng-repeat="book in books">
    <div ng-if="$index % 2 == 0" class="clearfix hidden-xs-inline-block"></div>
    <div class="thumbnail col-sm-offset-1 col-sm-5" >
      <img src="{{book.img_src}}" alt="" class="img-responsive img-book">
      <div class="caption text-center">
        <h3>{{book.title}}</h3>
        <p>{{book.desc}}</p>
      </div>
      
    </div>
  </div>
</div>