<div class="jumbotron">
  <h1>Indeed!</h1>
  <p class="lead">
    <img src="{{gravatar}}" alt="I'm Yeoman">
    <br> How 'bout we build something?
  </p>
</div>
<div class="row marketing">
  <h4>Projects</h4>
  <p>
    <li>Cat Clicker</li>
    <li>Mapacious</li>
    <li>Kording</li>
  </p>
  <h4>Blogs</h4>
  <p>
    <li>
      KodingKamper
    </li>
    <li>
      FreeAsInGuac
    </li>
    <li>ScottKampsDuac</li>
  </p>
  <h4>Books</h4>
  <ul>
    <li>
      Learn Code the Hard Way
    </li>
    <li>
      Effective Java
    </li>
    <li>
      The pragmatic programmer
    </li>
    <li>
      Patterns of Enterprise Application Architecture
    </li>
  </ul>
</div>
