<div class="jumbotron">
  <h1>Indeed!</h1>
  <p class="lead">
    <img src="{{gravatar}}" alt="I'm Yeoman">
    <br> How 'bout we build something?
  </p>
</div>
<div ng-include="'views/projects.html'"></div>
<h4>Blogs</h4>
<ul>
  <li>
    KodingKamper
  </li>
  <li>
    FreeAsInGuac
  </li>
  <li>ScottKampsDuac</li>
</ul>
<h4>Books</h4>
<ul>
  <li>
    Learn Code the Hard Way
  </li>
  <li>
    Effective Java
  </li>
  <li>
    The pragmatic programmer
  </li>
  <li>
    Patterns of Enterprise Application Architecture
  </li>
</ul>
