<div class="jumbotron jumbotron-main">
  <h1>Welcome, Friend!</h1>
  <div class="lead">
    <img src="{{gravatar}}" alt="I'm Yeoman">
    <p>How 'bout we build something?</p>
    <p>
      <span ng-repeat="social in socials"><a target="_blank" ng-href="{{social.ref}}"><img ng-src="{{social.logo_src}}" ng-alt="{{social.name}}" height="20px" /></a> </span>
    </p>
  </div>
</div>
<div ng-include="'views/projects.html'"></div>
<div ng-include="'views/books.html'"></div>
<div ng-include="'views/blogs.html'"></div>
<div class="footer">
  <div class="container">
    <p>
      <span class="glyphicon glyphicon-music"></span> Built by Scott with <a href="https://github.com/yeoman/generator-angular#readme">Yeoman generator-angular</a>, <a href="https://bootswatch.com/paper/">Bootwatch Paper Theme</a>, and hosted on GitHub Pages.
      <span class="glyphicon glyphicon-plane"></span>
    </p>
    <p></p>
  </div>
</div>
