<div ng-controller="ProjectCtrl">
  <div class="row marketing text-center">
    <h2 id="projects">Projects</h2>
    <div class="thumbnail" ng-repeat="project in projects">
      <img src="{{project.img_src}}" alt="" class="img-responsive img-project">
      <div class="caption">
        <h3>{{project.name}}</h3>
        <p>{{project.desc}}</p>
        <p>
          <a href="{{project.source}}" class="btn btn-primary" role="button">Code</a>
          <a href="{{project.demo}}" class="btn btn-default" role="button">Demo</a>
        </p>
      </div>
    </div>
    <!-- <ul>
      <li ng-repeat="project in projects">{{project}}</li>
    </ul> -->
  </div>
</div>
